#content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    position: relative;
    top: -170px;
    /* left: 30px; */
    background: transparent;
    width: 80vmin;
    height: 40vmin;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      /* color: #fff; */
      color: #000;
      text-transform: capitalize;
      letter-spacing: 1px;
      font-size: calc(20px + 1vmin);
    }

    p {
      /* color: #fff; */
      color: #000;
      letter-spacing: 1px;
      font-size: calc(8px + 1vmin);
      text-align: center;
    }
  }

  .globalIcon {
    position: absolute;
    top: 300px;
    /* right: 50px; */
    width: 50vmin;
    height: 50vmin;
    background: linear-gradient(90deg, #0001, #000000ef),
      radial-gradient(#ea00ff0e 10%, #00000059 100%), url(../img/world_map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    animation: earth 70s linear infinite;
    box-shadow: 0 0 20px #000;
  }
}

@keyframes earth {
  50% {
    background-position: 100%;
    transform: perspective(800px) rotateZ(80deg) rotate(20deg);
  }
}
